<div class="input-prepend">
<span class="add-on"><i class="icon-pinterest"></i></span>
<input id="input_account_pinterest" type="entry" class="span3" placeholder="Pinterest Account" value="[% pinterest %]">
</div>
