[% DEFAULT id='input_account_twitter' placeholder='Twitter Account' %]
<div class="input-prepend">
<span class="add-on"><i class="icon-twitter"></i></span>
<input id="[% id %]" type="entry" class="span3" placeholder="[% placeholder %]" value="[% twitter %]">
</div>