<div class="input-prepend">
<span class="add-on"><i class="icon-facebook"></i></span>
<input id="input_account_facebook" type="entry" class="span3" placeholder="Facebook Account" value="[% facebook %]">
</div>
