<div class="input-prepend">
<span class="add-on"><i class="icon-github"></i></span>
<input id="input_account_github" type="entry" class="span3" placeholder="Github Account" value="[% github %]">
</div>
