[% DEFAULT id='input_account_facebook' %]
<div class="input-prepend">
<span class="add-on"><i class="icon-facebook"></i></span>
<input id="[% id %]" type="entry" class="span3" placeholder="Facebook Account" value="[% facebook %]">
</div>