<div class="input-prepend">
<span class="add-on"><i class="icon-twitter"></i></span>
<input id="input_account_twitter" type="entry" class="span3" placeholder="Twitter Account" value="[% twitter %]">
</div>
