[% DEFAULT id='input_account_pinterest' %]
<div class="input-prepend">
<span class="add-on"><i class="icon-pinterest"></i></span>
<input id="[% id %]" type="entry" class="span3" placeholder="Pinterest Account" value="[% pinterest %]">
</div>