<select name="select_language" id="select_language">
<option value="" selected>-- Language --</option>
</select>
<script type="text/javascript" charset="utf-8">
$.ajax({
    url:'/JSON/language/list',
    type:'GET',
    dataType: 'json',
    success: function(json) {
        $.each(json, function(i, value) {
        	$('#select_language').append(new Option(value.name, value.code, true, true));
        });
    }
});
</script>
